<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brussel Sprouts</title>
</head>
<body>
    <h1>Brussel Sprouts(Brassica oleracea var. gemmifera)
    </h1>
    <h4>Brussels sprout is a member of the Gemmifera cultivar group of cabbages, grown for its edible buds. The Brussels sprout has long been popular in Brussels, Belgium, from which it gained its name.
    </h4>
    <p> Early varieties can be harvested from autumn onwards, but the main cropping season is through winter, as the flavour of the sprouts is sweeter once they've been frosted.
    </p>
    <p>
        About 1-2 inches of water are required per week. Use drip irrigation if possible to conserve water. Applying mulch around the plant also helps conserve soil moisture and reduce weed growth.Sprouts like a firm, neutral or alkaline soil.

    </p>
    <p>A seed rate of 600-700 g is sufficient for the cultivation of ‘Brussels sprouts’ in one hectare area.
    </p>
    <p>These green and compact sprouts weigh 7 to 8 grams. A single plant can produce 200 to 400 sprouts giving an average yield of 100 to 150 quintals per ha
    </p>
    <p>For more details,refer to:</p>
    <a href="https://www.asiafarming.com/">Asia Farming</a><br>
    <a href="http://corn.agronomy.wisc.edu/">Corn Agronomy</a>


    
</body>
</html>