<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buckwheat</title>
</head>
<body>
    <h1>Buckwheat(Fagopyrum esculentum)</h1>
    <h4>Buckwheat is a staple pseudograin crop in some parts of eastern Europe, where the hulled kernels, or groats, are prepared as kasha, cooked and served much like rice. While buckwheat flour is unsatisfactory for bread, it is used, alone or mixed with wheat flour, to make griddle cakes called buckwheat cakes in the United States and Canada. Buckwheat is high in carbohydrates and protein and provides small amounts of vitamins B1 and B2.</h4>
    <p>Buckwheat is a fast-growing plant that begins to flower 4 weeks after it is sown and produces grain in 10 to 12 weeks. It can be planted in summer until mid-August.
    </p>
    <p>Buckwheat is considered a warm-season summer annual crop, meaning that it's typically grown in the warmest part of the year unlike cool season spring crops
    </p>
    <p>
        It grows best in well-maintained, moderately fertile soil. It prefers moist, well-drained soils. It also tolerates those with low fertility and decaying organic matter.

    </p>
    <p>ranges from Rs. 76200 per hectare at marginal farms, to Rs. 84000 per hectare at large farms
    </p>
    <p>Under good conditions, buckwheat can yield up to 1,400 to 1,500 pounds per acre. Buckwheat income is modest, but production costs are also low, making a net profit feasible.
    </p>
    <p>For more details,refer to:</p>
    <a href="https://www.asiafarming.com/">Asia Farming</a><br>
    <a href="http://corn.agronomy.wisc.edu/">Corn Agronomy</a><br>
    <a href='/foreign_crop'>Go back</a>

    
</body>
</html>