<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cassava</title>
</head>
<body>
    <h1>Cassava</h1>
    <p>It is a tuberous edible plant of the spurge family (Euphorbiaceae) from the American tropics. It is cultivated throughout the tropical world for its tuberous roots, from which cassava flour, breads, tapioca, a laundry starch, and an alcoholic beverage are derived.</p>
    <p>
        Cassava tubers take 9-11 months to ripen. Harvesting signs are yellowing leaves. So once you spot yellowing leaves, cut the stems of the cassava plant down to 8-12 inches; this allows the plant to focus on the tubers and fill them up with starch.
    </p>
    <p>The plant doesn’t mind growing in any one of the three types of soil: loamy soil, clay, or sandy soil.The pH level of the soil can be neutral, slightly acidic, or slightly alkaline.</p>
    <p>Provide the cassava plant with the standard water quota of 1 inch a week. If it rains heavily, though, skip watering until the rainfall ends.
    </p>
    <h3>Initial investment of around 250000</h3>
    <h3>22.5 tonnes/hectare yield

    </h3>
    <p>For more details,refer to:</p>
    <a href="https://www.asiafarming.com/">Asia Farming</a><br>
    <a href="http://corn.agronomy.wisc.edu/">Corn Agronomy</a><br>
    <a href='/foreign_crop'>Go back</a>
</body>
</html>