<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>fertilizer recommendation</title>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE = edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static\style_rec.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5f59ca6ad3.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="login p-3">
      <!-- Main Input For Receiving Query to our ML -->

      <div class="row">
        <div class="col-12 col-md-6">
          <h1>Fertilizer Recommondation</h1>
          <p class="crop-prediction-para">
            Crop_type = {0: 'Barley', 1: 'Cotton', 2: 'Ground Nuts', 3: 'Maize', 4: 'Millets', 5: 'Oil seeds', 6: 'Paddy', 7: 'Pulses', 8: 'Sugarcane', 9: 'Tobacco', 10: 'Wheat'}
            Soil_type = {0: 'Black', 1: 'Clayey', 2: 'Loamy', 3: 'Red', 4: 'Sandy'}
          </p>
          <p class="crop-prediction-para">

            find the recommendad fertilizer for your crop based on your soil condition

          </p>
        </div>
        <div class="col-12 col-md-6">
          <form action="{{ url_for('fert_rec')}}" method="post">
            <div class="inp-sty">
              <input type="text" name="Temp" placeholder="Temp" required="required" />
            </div>
            <div class="inp-sty">
              <input type="text" name="Humidity" placeholder="Humidity" required="required" />
            </div>
            <div class="inp-sty">
              <input type="text" name="Moisture" placeholder="Moisture" required="required" />
            </div>
            <div class="inp-sty">
              <input
                type="text"
                name="Soil Type"
                placeholder="soil"
                required="required"
              />
            </div>
            <div class="inp-sty">
                <input
                  type="text"
                  name="crop Type"
                  placeholder="crop"
                  required="required"
                />
              </div>
            <div class="inp-sty">
              <input
                type="text"
                name="N"
                placeholder="N"
                required="required"
              />
            </div>
            <div class="inp-sty">
              <input
                type="text"
                name="K"
                placeholder="K"
                required="required"
              />
            </div>
            <div class="inp-sty">
              <input
                type="text"
                name="P"
                placeholder="P"
                required="required"
              />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Find Recommonded Fertilizer </button>
            </div>
          </form>
        </div>
      </div>

      <p>If you don't know the details of parameters,click here:</p>
      <a href="https://farmer.gov.in/STL.aspx">Farmer's Portal</a>
      <a href='/'>Go back</a>

      <br />
      <br />
      {{ prediction_text }}
    </div>
  </body>
</html>
