<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forage sorghum</title>
</head>
<body>
    <h1>Forage Sorghum</h1>
    <h4>Sorghum  is indigenous to Africa, and many of today's varieties originated on that continent.
    </h4>
    <p>Sorghums are fast-growing, warm weather annuals that will provide plenty of feed in mid-summer when many other forages slow down. Sorghums are best suited to warm, fertile soils; cool, wet soils limit their growth
    </p>    
    <p>Sorghums need a warm, fertile soil, somewhat similar to those of corn at the same yield goals, although sorghums are usually more efficient in their use of phosphorus and potassium. A soil pH of 6.0 is adequate for sorghum production.
    </p>
    <p>
        On an average farmer has to spend Rs. 11,605 to cultivate sorghum in one acre.

    </p>
    <p>
        Tests conducted in Wisconsin in the 1960s indicate that yields of dry matter were highest under the silage management program, followed by the green chop and then the pasture management program. Silage yields ranged from 4 to 12 tons of dry matter per acre.

    </p>
    <p>For more details,refer to:</p>
    <a href="https://www.asiafarming.com/">Asia Farming</a><br>
    <a href="http://corn.agronomy.wisc.edu/">Corn Agronomy</a><br>
    <a href='/foreign_crop'>Go back</a>
</body>
</html>