<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hop Shoots</title>
</head>
<body>
    <h1> Hop Shoots (scientific name :   humulus-lupulus )</h1>
    <h5>Hop shoots are cone-shaped, green-coloured flowers of female hop plants.Hop shoots fruits, flowers, and stems are useful in making:</h5>
    <ul>
        <li>
            Beverages
        </li>
        <li>
            Beer
        </li>
        <li>
            Antibiotics 
        </li>
        <li>
            Medicines
        </li>
        <li>
            Aromatic products
        </li>
    </ul>
    <p>
        Hop plants germinate from the soil during the month of March.
    </p>
    <p>
        Hops cultivation in India, there should be: Minimum of 120 days without frost.

    </p>
    <p>
        Loamy, well-drained soil, is best for hops cultivation. Soil with a ph level between 6 to 7.0 is best suited for crop growth. 
    </p>
    <p>
        Adding legume cover crops and compost can help provide the required nutrients to the crop. Hops require nitrogen up to 200 lbs (224kg/ha) in about a 6-week short window. 
    </p>
    <h3>
        Initial investment is of around 3 lakhs.

    </h3>
    <h3>
        Yield 2-5 t/ha
    </h3>
    <p>For more details,refer to:</p>
    <a href="https://www.asiafarming.com/">Asia Farming</a><br>
    <a href="http://corn.agronomy.wisc.edu/">Corn Agronomy</a>

</body>
</html>