<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karnoda</title>
</head>
<body>
    <h1>Karonda(Carissa carandas)
    </h1>
    <h4>arissa carandas is a species of flowering shrub in the family Apocynaceae. It produces berry-sized fruits that are commonly used as a condiment in Indian pickles and spices.</h4>
    <p>It is a hardy, drought-tolerant plant that thrives well in a wide range of soils.
    </p>
    <p>Karonda is a very hard and drought-tolerant plant; it thrives well throughout the tropical and subtropical climate conditions. Though, heavy rainfall and waterlogged conditions are not desirable for Karonda cultivation.</p>
    <p>On average, a Karonda plant provides 2 to 4 kg fruits. The fruits can be stored for 3 to 4 days at room temperature. These fruits used for making jam, candy, and pickles.</p>
    <p>For more details,refer to:</p>
    <a href="https://www.asiafarming.com/">Asia Farming</a><br>
    <a href="http://corn.agronomy.wisc.edu/">Corn Agronomy</a><br>
    <a href='/foreign_crop'>Go back</a>
</body>
</html>