<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persimmon</title>
</head>
<body>
    <h1>Persimmon(Diospyros kaki)
    </h1>
    <h4>The persimmon is the edible fruit of a number of species of trees in the genus Diospyros. The most widely cultivated of these is the Oriental persimmon, Diospyros kaki .</h4>
    <p>It is a monoecious tree grows up to a height of about 5-15 m. The trees are deciduous and complete their dormancy in the middle of February. The dormant trees, can tolerate fairly low temperature as low as -15°C.</p>
    <p>To achieve optimal growth and quality fruit, regular watering is required. Water your persimmon tree for 10 minutes once or twice a week in the spring and summer. Persimmon trees will withstand short periods of drought.</p>
    <h5>The fruit, though costs Rs 150-300 during off-seasons have a nominal price of Rs 100 per kilo in retail during seasons
    </h5>
    <h5>Yield of Persimmons depend on the planting method, soil, irrigation, tree age, variety and other garden management practices. One can obtain around 160 to 200 kg of fruits per year from fully grown (matured) tree.</h5>
    <p>For more details,refer to:</p>
    <a href="https://www.asiafarming.com/">Asia Farming</a><br>
    <a href="http://corn.agronomy.wisc.edu/">Corn Agronomy</a>
    <br>
    <a href='/foreign_crop'>Go back</a>
</body>
</html>