<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>ML API</title>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE = edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static\style_rec.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5f59ca6ad3.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="login p-3">
      <!-- Main Input For Receiving Query to our ML -->

      <div class="row">
        <div class="col-12 col-md-6">
          <h1>Crop Recommondation</h1>
          <p class="crop-prediction-para">
            The precise recommendation of crops is a pivotal constituent of
            Precision Agriculture, and can be accomplished by means of a
            sophisticated machine learning-based approach. In the realm of
            agriculture, it is of paramount importance that the recommendations
            provided are characterized by a high degree of accuracy and
            precision. This is due to the fact that any erroneous
            recommendations can lead to substantial material and capital losses,
            which can severely impact the economic viability of agricultural
            endeavors.This recommendation will help the farmers in India to make
            learned decisions about the selection crops.The application provides
            recommendations to farmers to determine the appropriate crop which
            can be used to increase crop yield.
          </p>
          <p class="crop-prediction-para">
            How does it work The system employs a K-Nearest Neighbors (KNN)
            supervised learning model, which methodically analyzes a diverse
            range of data inputs, such as soil type, weather patterns, pH level,
            and additional environmental factors. Ultimately, this systematic
            and automated process yields a set of personalized recommendations
            that identify the most optimal crops to cultivate in a given area.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <form action="{{ url_for('predict')}}" method="post">
            <div class="inp-sty">
              <input type="text" name="N" placeholder="N" required="required" />
            </div>
            <div class="inp-sty">
              <input type="text" name="P" placeholder="P" required="required" />
            </div>
            <div class="inp-sty">
              <input type="text" name="K" placeholder="K" required="required" />
            </div>
            <div class="inp-sty">
              <input
                type="text"
                name="Temperature"
                placeholder="temp"
                required="required"
              />
            </div>
            <div class="inp-sty">
              <input
                type="text"
                name="humidity"
                placeholder="humidity"
                required="required"
              />
            </div>
            <div class="inp-sty">
              <input
                type="text"
                name="ph"
                placeholder="ph"
                required="required"
              />
            </div>
            <div class="inp-sty">
              <input
                type="text"
                name="rainfall"
                placeholder="rainfall"
                required="required"
              />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Predict</button>
            </div>
          </form>
        </div>
      </div>

      <p>If you don't know the details of parameters,click here:</p>
      <a href="https://farmer.gov.in/STL.aspx">Farmer's Portal</a>

      <br />
      <br />
      {{ prediction_text }}
    </div>
  </body>
</html>
